.nav-pills {
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    background-color: white;
    opacity: .7; 
    position: fixed;
    overflow: hidden;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10%;
    float: right;
    text-decoration: none;
    margin-right: 10px;
}

.nav-text {
    color: #bc42f4;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: visible;
}

ul>li {
    float: right;
    margin-right: 50px;
    display: inline;
}

h1 {
    font-family: 'Exo', sans-serif;
    font-size: 40px; 
}

.block {
    background-color: white;
    color: #bc42f4;
    opacity: .7;
    padding: 10px; 
    width: 25%;
    margin-right: auto;
    margin-left: auto; 
    border-radius: 10px;
    text-align: center;
}

.btn {
    font-family: 'Exo', sans-serif;
    color: #bc42f4;
    font-size: 20px;
    background-color: white;
    opacity: .8;
    border-color: black;
}

.PageOne {
    background: url("../img/background.jpg");
    height: 75%;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0;
    font-family: 'Exo', sans-serif;
}

/* footer section */

footer {
    text-align: center;
  height: 100px;
  margin: 0 auto;
  clear: both;
  padding: 2em 2em;
  position: relative;
  top: 581px;
}

